<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FiasParserLib.Properties.Settings.fiasConnectionString"
            connectionString="Data Source=SCORPION;Initial Catalog=fias;User ID=client"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>